<link rel="stylesheet" href="/css/header.css">

<header>

    <div id="header-container">
    <div id="title">
    <a href="/"><h1>Issue Tracker</h1></a></div>

    <div class="auth-links">
        <% if (locals.user){ %>
            <div class="links">
                <a href="/users/sign-out">Sign Out</a>
            </div>

        <% }else{ %>

            <div class="links">
                <a href="/users/sign-in">Sign In</a>
            </div>
            <div class="links">
                <a href="/users/sign-up">Sign Up</a>
            </div>

        <% } %>    
        
    </div>
    </div>
</header>