<link rel="stylesheet" href="/css/project.css">

<a href="/projects/<%=project._id%>">

    <div class="project-item">
    <li>

        <p>
            Name of Project : <%= project.name %>
        </p>
        <p>
            Description : <%= project.description%>
        </p>
        <p>
            Author : <%= project.author %>
        </p>

    </li>
    </div>

</a>