<link rel="stylesheet" href="/css/project.css">

<a href="/projects/<%=project._id%>">

    <div class="project-item">

        <p>
            <span>Name of Project :</span><%= project.name %>
        </p>
        <p>
            <span> Description :</span>  <%= project.description%>
        </p>
        <p>
            <span>Author :</span> <%= project.author %>
        </p>

    </div>

</a>