<a href="/projects/<%=project._id%>">

    <li>

        <p>
            Name of Project : <%= project.name %>
        </p>
        <p>
            Description : <%= project.description%>
        </p>
        <p>
            Author : <%= project.author %>
        </p>

    </li>

</a>