body{

    font-family: 'Roboto Slab', serif;
    // width : 70%;
    margin: auto;
    color : whitesmoke;
    background-color: rgba(25,34,51,255);

    
    a{
        text-decoration: none;
        color: whitesmoke;
    }

}