::placeholder{
    color : lightcyan;
    padding : 10px;
}

#project-container{
    background-color: rgba(25,34,51,255);
    width : 75%;
    margin: auto;
}

.project-item{
    background-color:  rgb(25,85,110);
    padding : 15px;
    margin : 10px auto;
    border-radius: 10px;
    width: 80%;

    p{
        span{
        color : rgb(8, 9, 11);
        font-weight:bolder;
        font-size: large;
        }
    }

}

#report-div{

    // border: 2px solid black;
    border-radius: 8px;
    background-color: rgba(33,44,66,255);
    width : 83%;
    margin :auto;

    .heading{
        font-size: 25px;
        font-weight: 900;
        padding : 20px;
    }

}

form{
    .hide{
        visibility: hidden;
    }
    display: flex;
    flex-direction: column;
    align-items:center;
    
    input[type="text"] {
       width : 55%;
       height : 45px; 
       margin : 10px; 
       background-color: #2e2c3c;
       border-radius: 8px;
       color : whitesmoke;
       font-family: 'Roboto Slab', serif;
      }

    textarea{
        width : 55%;
        height : 100px;
        margin : 10px;
        background-color: #2e2c3c;
        color:whitesmoke;
        border-radius: 8px;
        font-family: 'Roboto Slab', serif;
    } 
    .select{
        margin : auto;
        width : 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap : 3px; 
        
        .select_item{
            padding : 10px;
            cursor: pointer;
            text-align: center;
            border-radius: 4px;
            background-color: lightgray;
            color : black;
            transition: background 0.1s;
    
        }
    
        .select_item_selected{
            background-color: rgb(255, 98, 1);
            color: whitesmoke;
            
        }
    } 

    
}

span{
    color : rgb(0, 221, 255);
}


#issues-list{
    width : 90%;
    margin: auto;
    background-color: rgba(33,44,66,255);
   border-radius: 8px;
   padding: 15px;

    li{
        list-style: none;
        margin : 5px;
    }

    h2{
        margin : 10px;
        padding : 10px;
    }
    

    .issue-item{
        margin: 20px;
        background-color: rgba(25,34,51,255);
        padding : 10px;
        border-radius: 5px;;
    }

    .labels{

        display: flex;
        justify-content:space-evenly;
        .label-item{
            // width : 50px;
            align-items: center;
            appearance: none;
            background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
            border: 0;
            border-radius: 6px;
            box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
            box-sizing: border-box;
            display: inline-flex;
            font-family: "JetBrains Mono",monospace;
            height: 40px;
            padding : 10px;
            justify-content: center;
            position: relative;
            text-align: left;
            font-size: 18px;

        }
    }

}

.select_item_selected{
    background-color: rgb(107, 254, 107);
    color: whitesmoke;

}

#btns{
    display: flex;
    justify-content: space-around;
}

.show-issues-btn{
    background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  padding: 12px 14px;
  text-align: center;
  margin : 20px;
  width : 18 0px;
}

.report-issues-btn{
    background-color:#0b9174;
    border: 0;
    width : 150px;
}

#filters{
    // border : 1px solid black;
    margin: 20px 0px;

    form{
     
        fieldset{
           width : 80%;
           border-radius: 8px;
           
           legend{
               font-weight: 600;
               font-size: 22px;
           }
        }

        #labels{
            // border : 1px solid black;
            display: flex;
            justify-content: space-around;
        }

        .search-bar{
            width: 70%;
            margin :10px auto;
            
        }

        .note-text{
            color :#06c8d3;
            text-align: center;
        }
    }
}

